/* colori principali della pagina */
$color-blueCustom: #4063e2;
$color-white:  #ffffff;
$color-black: #000000;

/* tema bianco */
$color-whitetheme: #09143b;
$gradiente-headerwhite:linear-gradient(180deg, #0b184b 0%, #03030a 100%);
$gradiente-viola-whitetheme:#0C133D linear-gradient(91.54deg, rgba(149, 4, 132, 0.5) 2%, rgba(194, 18, 141, 0.5) 55.47%, rgba(0, 0, 0, 0.5) 109.5%);

/* gradient principali della pagina */
$gradiente-header: linear-gradient(180deg, #3e5fe6 0%, #2d2db3 100%); 
$gradiente-viola:#0C133D linear-gradient(91.54deg, rgba(236, 73, 217, 0.5) 2%, rgba(250, 49, 190, 0.5) 55.47%, rgba(250, 248, 248, 0.5) 109.5%);
$gradiente-biancosfocatura: linear-gradient(252.4deg, rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0.8) 74.07%);
$viola-con-blu: linear-gradient(52deg, rgba(252, 0, 142, 1) 0%, rgba(56, 0, 255, 1) 100%);


/* font principali della pagina */
$fontgenerale: 'Outfit', sans-serif;

/* bottoni principali della pagina*/
$background-button: #00ffff;
$textcolor-button: #0b113b;

